*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

*,*:focus,*:hover{
    outline:none;
  }

.success{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:green;
    background-color: lightgreen;
    border-radius: 4px;
    padding:5px;
}

.error{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color:red;
    background-color: lightpink;
    border-radius: 4px;
    padding:5px;
}
.main-container>h1{
    text-align: center;
    font-size: 40px;
    color:white;
    padding:10px;
    background-color:rgb(2, 104, 2);
}


.submit-form{
    max-width: 50%;
    margin:40px auto;
    display:flex;
    align-content: center;
    flex-direction: column;
}

label{
    font-size: 18px;
}

input[type="text"],textarea{
    padding:8px;
    margin:10px 0px;
    border:2px solid #c5c5c5;
    font-size:15px;
    border-radius:4px;
    transition: 0.3s all;
}

textarea{
    resize: none;
    height:150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

input[type="text"]:hover,textarea:hover{
    border:2px solid dodgerblue;
}

input[type="submit"]{
    width:40%;
    margin: auto;
    margin-top: 20px;
    background-color:white;
    height:40px;
    border:2px solid dodgerblue;
    border-radius:6px;
    color:dodgerblue;
    font-size: 18px;
    font-size: 500;
    transition: 0.2s all;
}

input[type="submit"]:hover{
    background-color: dodgerblue;
    color:white;
    border:none;
}

@media screen and (max-width:800px){
    .submit-form{
        max-width: 80%;
    }
    input[type="submit"]{
        width:60%
    }
}